<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
</head>
<body>
  <!-- NAVBAR -->
  {{>navbar}}
  <!-- Main Header -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure class="errimg">
                <img src="images/404.png" alt="Error Pic" class="img-fluid" title="Error Page">
            </figure>       
            {{!-- <p>Welcome to Weather App</p> --}}
            <h2>{{errorMsg}}</h2>
            <a href="/"><button class="btn btn-success">GO Back</button></a>
        </div>
        </div>
      </div>
    </div>
  </div>
<!-- Footer Code -->
  <footer>
    {{>footer}}
  </footer>
</body>
</html>